footer {
  background-color: #464646;
  font-size: var(--body-font-size-xs);
  padding-top: 15px;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 0px 0px 10px;
  }
}
.footer.block.columns-2-cols img {
    width: auto;
}
.columns.footer.block.columns-2-cols {
    background: url(https://broadband.nebraska.gov/media/zkjpcsim/state-seal.png) no-repeat;
    background-size: 12%;
    background-position-x: right;
}